<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>driverHome</title>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" ></script>
  </head>
  <body>
    <button type="button" name="startRide" id="start">Start-Ride</button>
    <button type="button" name="endRide" id="end">End-Ride</button>

    <script type="text/javascript" src="../public/js/driver.js">

    </script>
  </body>
</html>