<a href="/authority/records">records</a>
<a href="/authority/register">Register</a>
<a href="/authority/track">Track</a>
<form action="/authority/logout" method="post">
  <input type="submit" value="Logout">
</form> 